@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
/* Global CSS =========>>>>> */
:root {
  --button_Color: #e02c6d;
  --Font_Color: #3a3a3a;
}
.container {
  max-width: 70%;
  margin: auto;
}
body {
  font-family: "Roboto", sans-serif;
}
h1 {
  font-size: 52px;
  font-weight: bold;
  line-height: 70px;
}
p {
  font-size: 16px;
  line-height: 24px;
}
.Default__btn {
  width: 196px;
  height: 44px;
  background-color: var(--button_Color);
  outline: none;
  border: none;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

/* Navigation CSS ====================>>>>>>> */
#bar {
  display: none;
}
nav {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Nav Logo */
nav p {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
  cursor: pointer;
  color: #e02c6d;
}
nav .nav__menu,
ul {
  display: flex;
  align-items: center;
}

nav ul li {
  list-style: none;
}
nav ul li a,
i {
  text-decoration: none;
  margin-left: 2rem;
  color: var(--Font_Color);
  cursor: pointer;
}
nav ul li a:hover,
i:hover {
  color: var(--button_Color);
  transition: ease 0.3s;
}

/* Header CSS =====================>>>>>>>>>>>> */
.header__image {
  background-image: url(images/Circle\ design.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 420px;
}
.header__area {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}
.header__area .text__area h1 {
  color: var(--Font_Color);
}
.header__area .text__area p {
  width: 80%;
  padding: 1rem 0;
}
.header__area .text__area button {
  border-radius: 41px;
}
.header__area .text__area button > span {
  margin-left: 0.5rem;
}

/* Company Logo  show-up Css ============>>>>> */
.company {
  padding: 69px 0 100px 0;
}
.company hr {
  border: 1px solid rgb(238, 238, 238);
}
.company .company__logo {
  height: 20vh;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.company .company__logo img {
  padding: 10px;
}

/* Popular Collection CSS =========>>>>>> */
.Popular__product h2 {
  text-align: center;
  padding-bottom: 20px;
}

.product__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 30px;
}

.product {
  box-shadow: -1px 1px 7px 2px rgba(209, 209, 209, 0.74);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  margin: 15px;
  border-radius: 10px;
}
.text_part {
  padding: 0.5rem;
}

.text_part h3 {
  margin: 0.5rem 0;
}
.text_part p {
  margin: 0.5rem 0;
}

.text_part span i {
  color: #fb8200;
  margin: 0;
}
.see__more {
  display: flex;
  justify-content: flex-end;
}
.see__more a {
  text-decoration: none;
  color: var(--button_Color);
}
.see__more a > span {
  margin-left: 10px;
}
