@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
/* Global CSS ======================================>>>>> */
:root {
  --button_Color: #e02c6d;
  --Font_Color: #3a3a3a;
}
.container {
  max-width: 70%;
  margin: auto;
}
body {
  font-family: "Roboto", sans-serif;
}
h1 {
  font-size: 52px;
  font-weight: bold;
  line-height: 70px;
}
p {
  font-size: 16px;
  line-height: 24px;
}
.Default__btn {
  width: 196px;
  height: 44px;
  background-color: var(--button_Color);
  outline: none;
  border: none;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

/* Navigation CSS ======================================>>>>>>> */
#bar {
  display: none;
}
nav {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* Nav Logo */
nav p {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
  cursor: pointer;
  color: #e02c6d;
}
nav .nav__menu,
ul {
  display: flex;
  align-items: center;
}

nav ul li {
  list-style: none;
}
nav ul li a,
i {
  text-decoration: none;
  margin-left: 2rem;
  color: var(--Font_Color);
  cursor: pointer;
}
nav ul li i {
  color: var(--Font_Color);
}
nav ul > li a:hover,
i:hover {
  color: var(--button_Color);
  transition: ease 0.3s;
}

/* Header CSS ===================================>>>>>>>>>>>> */
.header__image {
  background-image: url(images/Circle\ design.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 420px;
}
.header__area {
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}
.header__area .text__area h1 {
  color: var(--Font_Color);
}
.header__area .text__area p {
  width: 80%;
  padding: 1rem 0;
}
.header__area .text__area button {
  border-radius: 41px;
}
.header__area .text__area button > span {
  margin-left: 0.5rem;
}

/* Company Logo  show-up Css ====================================>>>>> */
.company {
  padding: 69px 0 100px 0;
}
.company hr {
  border: 1px solid rgb(238, 238, 238);
}
.company .company__logo {
  height: 20vh;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.company .company__logo img {
  padding: 10px;
}

/* Popular Collection CSS =============================>>>>>> */
.Popular__product h2 {
  text-align: center;
  padding-bottom: 20px;
}

.product__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 30px;
}

.product {
  box-shadow: -1px 1px 7px 2px rgba(209, 209, 209, 0.74);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  margin: 15px;
  border-radius: 10px;
}
.product img {
  width: 100%;
}
.text_part {
  padding: 0.5rem;
  width: 100%;
}

.text_part h3 {
  margin: 0.5rem 0;
}
.text_part p {
  margin: 0.5rem 0;
}

.text_part span i {
  color: #fb8200;
  margin: 0;
}
#rating {
  display: inline;
}

.see__more {
  display: flex;
  justify-content: flex-end;
}
.see__more a {
  text-decoration: none;
  color: var(--button_Color);
}
.see__more a > span {
  margin-left: 10px;
  color: var(--button_Color);
}

/* Customer Reviwe Css */

.customer__review > h3 {
  padding: 1rem;
  text-align: center;
  background-color: #ff438834;
  font-size: 24px;
  margin-top: 3rem;
}
.reviewer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 2rem 1rem;
}
.reviewer h3 {
  margin-bottom: 1rem;
}
.reviewer p {
  font-size: 14px;
  text-align: justify;
}
.reviewer .reviewer__name img {
  border-radius: 50%;
}

/* News Latter CSs */
.newslatter {
  background-color: #ff438834;
  width: 100%;
  height: 150px;
  text-align: center;
}
.newslatter h3 {
  text-transform: uppercase;
  font-weight: 300;
  padding-top: 2rem;
  margin-bottom: 1rem;
  letter-spacing: 3px;
}
.newslatter input {
  width: 50%;
  padding: 0.7rem;
}
.newslatter input:focus {
  font-size: 1rem;
  outline: none;
}

.newslatter button {
  padding: 0.7rem 1.2rem;
  font-size: 1rem;
  color: #fff;
  background-color: var(--button_Color);
  border: none;
}
/* Footer Part Css */
footer {
  background-color: #0a0826;
  height: 239px;
  width: 100%;
}
.footer_text_area {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-top: 5rem;
  font-family: "Manrope", sans-serif;
  letter-spacing: 1px;
}
.footer_text_area p,
span,
li i {
  color: #fff;
}
.footer_text_area p {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 1rem;
  letter-spacing: 5px;
}
.footer_text_area span {
  font-size: 12px;
}
.footer_text_area ul li {
  list-style: none;
}
.footer_text_area ul li i {
  margin-top: 1rem;
  margin-left: 0;
  padding: 0 1rem;
}

/* ================================================The End ======================================credit by morshedulmunna */
